{{!
//  ff-node-monitor -- Monitoring for Freifunk nodes
//  Copyright (C) 2018  Ralf Jung <post AT ralfj DOT de>
//
//  This program is free software: you can redistribute it and/or modify
//  it under the terms of the GNU Affero General Public License as published by
//  the Free Software Foundation, either version 3 of the License, or
//  (at your option) any later version.
//
//  This program is distributed in the hope that it will be useful,
//  but WITHOUT ANY WARRANTY; without even the implied warranty of
//  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//  GNU Affero General Public License for more details.
//
//  You should have received a copy of the GNU Affero General Public License
//  along with this program.  If not, see <https://www.gnu.org/licenses/>.
}}
{{~#*inline "title"~}}
  Knotenliste für {{form.email}}
{{~/inline~}}
{{~#*inline "page"}}
  {{#each watched_nodes}}
  <div>
    <form method="post" action="prepare_action">
      <span class="node">
      {{# if this[1] }}
        <b>{{this[1].name}}</b> ({{this[1].id}}):
        {{# if this[1].online }}
            <span class="online">online</span>
        {{else}}
            <span class="offline">offline</span>
        {{/if}}
      {{else~}}
        <i>?</i> ({{this[0].id}}): <span class="gone">verschwunden</span>
      {{/if}}
      </span>
      <input type="hidden" name="email" value="{{this[0].email}}">
      <input type="hidden" name="op" value="remove">
      <input type="hidden" name="node" value="{{this[0].id}}">
      <input type="submit" value="[x]" class="link">
    </form>
  </div>
  {{else}}
  <p>Du überwachst bisher keinen Knoten.</p>
  {{/each}}

  <h3>Knoten hinzufügen</h3>
  <form method="post" action="prepare_action">
    <input type="hidden" name="email" value="{{form.email}}">
    <input type="hidden" name="op" value="add">
    Knoten-ID manuell eingeben: <input type="text" name="node">
    <input type="submit" value="Hinzufügen">
  </form>
  <br>
  <form method="post" action="prepare_action">
    <input type="hidden" name="email" value="{{form.email}}">
    <input type="hidden" name="op" value="add">
    Knotennamen aus Liste auswählen:
    <select name="node">
      {{#each all_nodes}}
        <option value="{{this.id}}">{{this.name}} ({{this.id}})</option>
      {{/each}}
    </select>
    <input type="submit" value="Hinzufügen">
  </form>
  Wenn dein Knoten gerade neu ist und nocht nicht in der Liste auftaucht, versuche es in ein paar Minuten erneut.
{{~/inline}}
{{~> partials/page }}
