{{~#*inline "title"~}}
  Knotenliste f端r {{form.email}}
{{~/inline~}}
{{~#*inline "page"}}
  {{#each nodes}}
  <div>
    <form method="post" action="prepare_action">
      <span class="node">
      {{# if this[1] }}
        <b>{{this[1].name}}</b> ({{this[1].node}}):
        {{# if this[1].online }}
            <span class="online">online</span>
        {{else}}
            <span class="offline">offline</span>
        {{/if}}
      {{else}}
        <i>{{this[0].node}}</i>: <span class="gone">verschwunden</span>
      {{/if}}
      </span>
      <input type="hidden" name="email" value="{{this[0].email}}">
      <input type="hidden" name="op" value="remove">
      <input type="hidden" name="node" value="{{this[0].node}}">
      <input type="submit" value="[x]" class="link">
    </form>
  </div>
  {{else}}
  <p>Du 端berwachst bisher keinen Knoten.</p>
  {{/each}}

  <h3>Knoten hinzuf端gen</h3>
  <form method="post" action="prepare_action">
    <input type="hidden" name="email" value="{{form.email}}">
    <input type="hidden" name="op" value="add">
    Knoten ID: <input type="text" name="node">
    <input type="submit" value="Hinzuf端gen">
  </form>
{{~/inline}}
{{~> partials/page }}
