{{~#*inline "title"~}}
  Knotenüberwachung für {{action.email}}
{{~/inline~}}
{{~#*inline "page"}}
  <p>
  {{#if success}}
    <b>{{action.node}}</b> wird jetzt von <b>{{action.email}}
    {{#if action.op}}überwacht{{else}}nicht mehr überwacht{{/if}}</b>.
  {{else}}
    <b>{{action.node}}</b> wurde
    {{#if action.op}}schon{{else}}nicht{{/if}}
    von <b>{{action.email}}</b> überwacht{{#if action.op}}, oder es gibt keinen Knoten mit dieser ID{{/if}}.
  {{/if}}
  </p>
  <p>
    <a href="{{list_url}}">Zurück zur Knotenliste</a>
  </p>
{{~/inline}}
{{~> partials/page }}
